@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

body {
    background: #457fca;
    background: -webkit-linear-gradient(to left, #457fca , #5691c8);
    background: linear-gradient(to left, #457fca , #5691c8);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-size: 1.3em;
}

img {
    width: 300px;
    height: 300px;
}

#heading{
    font-size: 5em;
    margin-bottom: 0.8em;
}

#search {
    font-size: 1.7em;
    margin: auto 20px;
}

#title {
    font-size: 1.7em;
}

#searchWrap {
    margin-top: 2.5em;
    width: 80%;
}

#random {
    font-size: 1.5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.main {
    padding-top: 7em;
}

.rdm-btn {
    margin: 30px auto;
}
.white {
    color: white;
}
.highlight{
    color: rgb(224, 57, 151);
}
@media screen and (max-width:767px) {
    p {
        font-size: 1.05em;
    }

    img {
        width: 160px;
        height: 160px;
    }

    #heading{
        font-size: 2.9em;
    }

    #searchWrap {
        margin-top: 2.5em;
        width: auto;
    }

    #search {
        font-size: 1.2em;
        margin: auto 10px;
    }

    #title {
        font-size: 1.5em;
    }

    .main {
        padding-top: 2.5em;
    }

    .rdm-btn {
        font-size: 0.8em;
        margin: 1.5em auto;
    }
}
